.subscribe {
  background: var(--SecondaryColor);

  .sectionContainer {
    text-align: center;
    .inputDiv {
      margin-top: 1rem;
      flex-direction: column;
      background: var(--whiteColor);
      border-radius: 1rem;

      input {
        border: none;
        outline: none;
        background: transparent;
        padding: 1rem 0.5rem;

        &::placeholder {
          font-size: 13px;
          opacity: 0.5;
        }
      }

      .btn {
        width: 100%;
      }
    }
  }
}
