.lounge {
  .sectionContainer {
    gap: 1.5rem;

    .imgDiv {
      margin: auto;
      img {
        width: 100%;
        transform: scale(1.17);
        max-width: 430px;
      }
    }

    .textDiv {
      .grids {
        margin-top: 1rem;
        gap: 1.5rem;

        .singleGrid {
          .gridTitle {
            display: block;
            padding-bottom: 0.5rem;
            font-weight: 500;
            color: var(--blackColor);
          }
        }
      }
    }
  }
}
