.info {
  background: var(--SecondaryColor);
  .infoContainer {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    justify-content: space-between;
  }

  .cardsDiv {
    gap: 1.5rem;
    margin-top: 3rem;

    .singleCard {
      background: var(--whiteColor);
      padding: 3rem 2rem;
      border-radius: 10rem;
      gap: 1rem;
      text-align: center;
      margin: auto;
      height: 320px;
      width: 90%;
      max-width: 250px;

      .iconDiv {
        justify-content: center;
        margin: auto;
        background: var(--PrimaryColor);
        width: max-content;
        height: 55px;
        padding: 1rem;
        border-radius: 3rem;

        .icon {
          color: var(--whiteColor);
        }
      }

      .cardTitle {
        color: var(--blackColor);
        font-weight: 700;
      }

      .colorOne {
        background: var(--ColorOne);
      }

      .colorTwo {
        background: var(--ColorTwo);
      }
    }
  }
}
