.support {
  .sectionContainer {
    .titlesDiv {
      text-align: center;
      small {
        letter-spacing: 0.8rem;
        text-transform: uppercase;
        font-size: 13px;
        color: var(--blackColor);
        line-height: 1.5rem;
      }
    }
    .infoDiv {
      margin-top: 2rem;
      gap: 1.5rem;

      .textDiv {
        gap: 1.5rem;

        .singleInfo {
          .number {
            background: var(--PrimaryColor);
            padding: 5px 12px;
            width: 40px;
            border-radius: 3rem;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            color: var(--whiteColor);
          }

          .colorOne {
            background: var(--ColorOne);
          }

          .colorTwo {
            background: var(--ColorTwo);
          }
        }
      }

      .imgDiv {
        margin: auto;
        img {
          width: 100%;
          transform: scale(1.17);
          max-width: 420px;
        }
      }
    }
  }
}
